@if (TempData["Message"] != null)
{
    string message = TempData["Message"].ToString();
    string title = TempData["Title"].ToString();
    string ico = TempData["State"].ToString();
    <script type="text/javascript">
              Swal.fire({
                  icon: `@ico`,
                  title: `@title`,
                  html:
                    '<h3> <b> @message </b> </h3>',
                  showConfirmButton: false,
                  timer: 3500
              })
    </script>
}